
.DS_Store
.Ulysses-Group.plist
.tmp*
.tmp_versions/
.version
.vimsession
.*
.*.cmd
.*.swp
.*.tmp
.*.sw*
Mkfile.old
Module.symvers
a.out
data
dkms.conf
dyn_list
export-ta_arm32
generated
modules.order
oImage
out
sImage
vmlinux
*.a
*.app
*.bin
*.bmp
*.builtin
*.cmd
*.d
*.dll
*.dmp
*.dylib
*.elf
*.exe
*.exp
*.gch
*.hex
*.idb
*.ilk
*.ko
*.la
*.ld
*.lds
*.ld.S
*.lib
*.lo
*.map
*.mod.c
*.o
*.obj
*.old
*.order
*.orig
*.out
*.pch
*.pdb
*.release
*.s
*.so
*.su
*.swo
*.swp
*.ta
*.tmp
*.ver
*.dSYM/
*.i*86
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
**/out
*.so.*
*.x86_64
/linux-imx6/.config
/linux-imx6/.config.old
/linux-imx6/.mailmap
/linux-imx6/.version
/linux-imx6/arch/arm/kernel/asm-offsets.s
/linux-imx6/kernel/bounds.s
/linux-imx6/scripts/mod/devicetable-offsets.s
/linux-imx6/.tmp_vmlinux1
/linux-imx6/.tmp_vmlinux2
/optee/conf.cmake
/optee/conf.mk
/optee/core/init_entries.txt
/optee/core/ldelf_hex.c
/optee/core/ta_pub_key.c
/optee/core/tee.symb_sizes
/optee/core/unpaged_entries.txt
__pycache__
venv

**/pyutil
*.rei
*.roi

